# Archivos y carpetas compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de extensiones C
*.so

# Distribución y empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Archivos sensibles (variables de entorno)
.env

# Configuración de PyCharm/IntelliJ IDEA
.idea/

# Configuración de Visual Studio Code
.vscode/

# Archivos de sistema Windows
Thumbs.db
ehthumbs.db
*.lnk

# Archivos de sistema macOS
.DS_Store
.AppleDouble
.LSOverride

# Archivos de caché de pytest
.cache/

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Logs y archivos temporales
*.log
